<template name="promoBox">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="promo-box gray-bg m-bot-100" id="promoBox">
          <div class="promo-info">
            <h4>new <span class="theme-color">offer</span> for this <span class="theme-color">summer</span></h4>
            <span>Nullam ut consectetur dolor. Sed sit amet iaculis nisi. Mauris ridiculus elementum non felis etewe blandit. </span>
          </div>
          <div class="promo-btn">
            <a href="#" class="btn btn-medium btn-dark-solid  text-uppercase">purchase now</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>
