<template name="portfolio">
  <section class="body-content page-content">
    <div class="container">
      <div class="row ">
        <div class="col-md-12">
          <div class="text-center">
          <div class="heading-title-alt text-center">
            <h2 class="text-uppercase">Recent Work</h2>
        </div>
            <ul class="portfolio-filter">
              <li class="active"><a href="#" data-filter="*"> All</a></li>
              <li><a href="#" data-filter=".cat1">Websites</a></li>
              <li><a href="#" data-filter=".cat2">Logos</a></li>
              <li><a href="#" data-filter=".cat3">App</a></li>
              <li><a href="#" data-filter=".cat4">Videos</a></li>
            </ul>
          </div>
          <div class="portfolio portfolio-with-title portfolio-masonry col-2 gutter ">
            <div class="portfolio-item cat1 cat3 ">
              <div class="thumb">
                <img src="img/portfolio/masonry/1.jpg" alt="">
                <div class="portfolio-hover">
                  <div class="action-btn">
                    <a href="img/portfolio/masonry/1.jpg" class="popup-link" title="lightbox view"> <i class="icon-basic_magnifier"></i> </a>
                  </div>
                </div>
              </div>
              <div class="portfolio-title">
                <h4><a href="img/portfolio/masonry/1.jpg" class="popup-link" title="lightbox view">lightbox view</a></h4>
                <p><a href="#">category 1</a> , <a href="#">category 3</a> </p>
              </div>
            </div>
            <div class="portfolio-item cat2 cat4">
              <div class="thumb">
                <img src="img/portfolio/masonry/2.jpg" alt="">
                <div class="portfolio-hover">
                  <div class="action-btn">
                    <a href="portfolio-single.html"> <i class="icon-basic_link"></i> </a>
                  </div>
                </div>
              </div>
              <div class="portfolio-title">
                <h4><a href="portfolio-single.html">External link</a></h4>
                <p><a href="#">category 2</a> , <a href="#">category 4</a> </p>
              </div>
            </div>
            <div class="portfolio-item cat1 cat2">
              <div class="thumb">
                <div class="portfolio-slider">
                  <ul class="slides">
                    <li>
                      <a href="img/portfolio/masonry/4-1.jpg" title="Freshness Photo"><img src="img/portfolio/masonry/4-1.jpg" alt=""></a>
                    </li>
                    <li>
                      <a href="img/portfolio/masonry/4-2.jpg" title="Awesome Lightbox"><img src="img/portfolio/masonry/4-2.jpg" alt=""></a>
                    </li>
                    <li>
                      <a href="img/portfolio/masonry/4-3.jpg" title="Massive UI Components"><img src="img/portfolio/masonry/4-3.jpg" alt=""></a>
                    </li>
                  </ul>
                </div>
                <div class="portfolio-hover">
                  <div class="action-btn">
                    <a href="#"> <i class="icon-basic_magnifier"></i> </a>
                  </div>
                </div>
              </div>
              <div class="portfolio-title">
                <h4><a href="#">lightbox Gallary</a></h4>
                <p><a href="#">category 1</a> , <a href="#">category 2</a> </p>
              </div>
            </div>
            <div class="portfolio-item cat1 cat4">
              <div class="thumb">
                <img src="img/portfolio/masonry/3.jpg" alt="">
                <div class="portfolio-hover">
                  <div class="action-btn">
                    <a class="popup-vimeo" href="https://vimeo.com/45830194"> <i class="icon-arrows_keyboard_right"></i> </a>
                  </div>
                </div>
              </div>
              <div class="portfolio-title">
                <h4><a class="popup-vimeo" href="https://vimeo.com/45830194" >Video lightbox</a></h4>
                <p><a href="#">category 1</a> , <a href="#">category 4</a> </p>
              </div>
            </div>
            <div class="portfolio-item cat2 cat4">
              <div class="thumb">
                <img src="img/portfolio/masonry/5.jpg" alt="">
                <div class="portfolio-hover">
                  <div class="action-btn">
                    <a href="img/portfolio/masonry/5.jpg" class="popup-link" title="lightbox view"> <i class="icon-basic_magnifier"></i> </a>
                  </div>
                </div>
              </div>
              <div class="portfolio-title">
                <h4><a href="img/portfolio/masonry/5.jpg" class="popup-link" title="lightbox view">lightbox view</a></h4>
                <p><a href="#">category 2</a> , <a href="#">category 4</a> </p>
              </div>
            </div>
            
            <div class="portfolio-item  cat3 cat5">
              <div class="thumb">
                <img src="img/portfolio/masonry/14.jpg" alt="">
                <div class="portfolio-hover">
                  <div class="action-btn">
                    <a href="img/portfolio/masonry/14.jpg" class="popup-link" title="lightbox view"> <i class="icon-basic_magnifier"></i> </a>
                  </div>
                </div>
              </div>
              <div class="portfolio-title">
                <h4><a href="img/portfolio/masonry/14.jpg" class="popup-link" title="lightbox view">lightbox view</a></h4>
                <p><a href="#">category 1</a> </p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!--portfolio-->
</template>
