<template name="portfolio">
	<section class="section-portfolio js-section-portfolio" id="portfolio">
		    <div class="container">
            <div class="row">
                <h2>Curtas</h2>
            </div>
            </div>
		<ul class="showcase clearfix">
			<li>
				<div class="square-curtas square-red boa-noite">
						<h3>Boa Noite, Alice</h3>
						<img src="/images/curtas/boanoite.png" alt="boanoite" class="boanoite ">
						<img src="/images/curtas/play.png" alt="play" class="play">
				</div>
			</li>
			<li>
				<div class="square-curtas square-blue">
						<h3>Esperanças Perdidas</h3>
						<img src="/images/curtas/esperancas.png" alt="esperancas" class="esperancas">
						<a href="https://youtu.be/4GqQfAyhFUs" target="_blank"><img src="/images/curtas/play.png" alt="play" class="play"></a>
				</div>
			</li>
			<li>
				<div class="square-curtas square-red">
						<h3>Estrutura da Bolha</h3>
						<img src="/images/curtas/estrutura.png" alt="estrutura" class="estrutura">
						<img src="/images/curtas/play.png" alt="play" class="play">
				</div>
			</li>
			<li>
				<div class="square-curtas square-blue">
						<h3>About Farewell</h3>
						<img src="/images/curtas/farewell.png" alt="farewell" class="farewell">
							<a href="https://youtu.be/CAo3qj_WsN4" target="_blank"><img src="/images/curtas/play.png" alt="play" class="play"></a>
				</div>
			</li>
			<li>
				<div class="square-curtas square-red">
						<h3>Sonhos Flutuantes</h3>
						<img src="/images/curtas/sonhos.png" alt="sonhos" class="sonhos">
						<a href="https://www.youtube.com/watch?v=K16DsK3P2Ys" target="_blank"><img src="/images/curtas/play.png" alt="play" class="play"></a>
				</div>
			</li>
			<li>
				<div class="square-curtas square-blue">
						<h3>As madrugadas</h3>
						<img src="/images/curtas/madrugadas.png" alt="madrugadas" class="madrugadas">
						<a href="https://www.youtube.com/watch?v=dOffyCzjyrA" target="_blank"><img src="/images/curtas/play.png" alt="play" class="play"></a>
				</div>
			</li>
		</ul>
	</section>
</template>