<template name="clientsTestimonials">
  <div class="page-content">
    <div class="container">
      <div class="row">
        <div class="col-md-8">
          <ul class="clients angle-box grid-3 ">
            <li>
              <a href="#"><img src="/img/clients/c-1.png" alt="Clients"></a>
            </li>
            <li>
              <a href="#"><img src="/img/clients/c-2.png" alt="Clients"></a>
            </li>
            <li>
              <a href="#"><img src="/img/clients/c-3.png" alt="Clients"></a>
            </li>
            <li>
              <a href="#"><img src="/img/clients/c-4.png" alt="Clients"></a>
            </li>
            <li>
              <a href="#"><img src="/img/clients/c-5.png" alt="Clients"></a>
            </li>
            <li>
              <a href="#"><img src="/img/clients/c-6.png" alt="Clients"></a>
            </li>
          </ul>
        </div>
        <div class="col-md-4">
          <!--testimonial start-->
          <div id="nosso-owl-carousel" class="">
            <div class="item left-align">
              <div class="tst-thumb">
                <img class="circle" src="/img/post/a1.png" alt="">
              </div>
              <div class="content">
                <p>
                  Nam nec dui dolor. Curabitur in laoreet erat. Nam nec dui dolor. Aliquam varius dolor nunc, interdum commodo justoporttitor vitae. Quisque fermentum purus.
                </p>
                <div class="testimonial-meta">
                  - Kevin Paige -
                  <span>ABC</span>
                </div>
              </div>
            </div>
            <div class="item left-align">
              <div class="tst-thumb">
                <img class="circle" src="/img/post/a1.png" alt="">
              </div>
              <div class="content">
                <p>Vestibulum varius fermentum risus vitae lacinia neque auctor nec. Nunc ac rutrum nulla. Nulla maximus dolor in quam euismod ac viverra libero aliquet. </p>
                <div class="testimonial-meta">
                  - John Doe -
                  <span>head of marketing, TB</span>
                </div>
              </div>
            </div>
            <div class="item left-align">
              <div class="tst-thumb">
                <img class="circle" src="/img/post/a1.png" alt="">
              </div>
              <div class="content">
                <p>Vestibulum varius fermentum risus vitae lacinia neque auctor nec. Nunc ac rutrum nulla. Nulla maximus dolor in quam euismod ac viverra libero aliquet. </p>
                <div class="testimonial-meta">
                  - Linda Smith -
                  <span>CEO, TB</span>
                </div>
              </div>
            </div>
          </div>
          <!--testimonial end-->
        </div>
      </div>
    </div>
  </div>
  <!--clients-->
</template>
