<template name="encomendas">
	<section class="section-encomendas js-section-encomendas" id="encomendas">
		<div class="container container-encomendas">
            <div class="row">
                <h2>Do que você precisa?</h2>
            </div>
            <div class="row row-space-encomendas">
                <div class="col-lg-4 col-md-4 col-sm-4 icons-center">
                    <img src="/images/encomendas/icon-pelicula.png" alt="Food">
                    <h3>Montagem e finalização</h3>
                    <p class="p-encomendas-margin">Faço a montagem que seu filme precisa, além da criação de letreiros,linguagem visual e motion design.</p>
                </div>
                <div class="col-lg-4 col-md-4 col-sm-4 icons-center">
                    <img src="/images/encomendas/icon-camera.png" alt="Food">
                     <h3>Produção de curtas e vídeos</h3>
                    <p class="">Realizo desde vídeos para mídias sociais e vídeos institucionaisaté direção de curtas e videoclipes.</p>
                </div>
                <div class="col-lg-4 col-md-4 col-sm-4 icons-center">
                    <img src="/images/encomendas/icon-pc.png" alt="Food">
                     <h3>Site para a sua produtora</h3>
                    <p class="p-encomendas-margin">Construo sites com design moderno, responsivo e pensando principalmente na usabilidade do usuário</p>
                </div>
            </div>
            <div class="row row-space-button row-encomenda-btn">
               	<button class="btn btn-default btn-encomenda js-scroll-encomendas">Faça sua encomenda!</button> 
            </div>	
        </div>
	</section>
</template>

