<template name="subscribe">
  <div class="subscribe-box gray-bg">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <div class="subscribe-info">
            <h4>subscribe to get in touch</h4>
            <span>Nullam ut consectetur dolor. Sed sit amet iaculis nisi. </span>
          </div>
          <div class="subscribe-form">
            <form class="form-inline">
              <input type="text" class="form-control radius-less" placeholder="Enter your email address">
              <button type="submit" class="btn btn-medium btn-dark-solid text-uppercase">subscribe</button>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>
