<template name="about">
<div class="page-content">
                <div class="container">
                    <div class="row">
                        <div class="m-bot-50 inline-block">
                            <!--title-->

                            <div class="heading-title-alt text-center">
                                <h2 class="text-uppercase">Who We Are</h2>
                                <div class="half-txt p-top-30">We are Imagine4you, located in São Paulo, Brazil. Our mission is to bring wonderful and expressive websites, logos, animations, print materials and many others for your company. We love what we do, so all the work is made with dedication and aiming to bring the best results for you.</div>
                            </div>

                            <!--title-->
                        </div>
                        <!--feature -->
                        <div class="col-md-4">
                            <div class="featured-item text-center">
                                <div class="icon">
                                    <img class="retina about-icons" src="images/designer.png" alt="designer"/>
                                </div>
                                <div class="title text-uppercase">
                                    <h4>Designer</h4>
                                </div>
                                <div class="desc">
                                    Can you imagine the world without design? It would be like we walked on the streets fully naked! Weird, right? So, here we prioritize the design as an essential and major part of any project. After analyzing your needs we create a design to match your business greatness.
                                </div>
                            </div>
                        </div>

                        <div class="col-md-4">
                            <div class="featured-item text-center">
                                <div class="icon">
                                    <img class="retina about-icons" src="images/developer.png" alt="developer"/>
                                </div>
                                <div class="title text-uppercase">
                                    <h4>Developer</h4>
                                </div>
                                <div class="desc">
                                    You see that great and good looking website and can't begin to imagine how that was made just with code. Coding it’s that powerfull! No, it’s not magic, just many years of experience, study and hard work to keep up with the newest technologies on the market.
                                </div>
                            </div>
                        </div>

                        <div class="col-md-4">
                            <div class="featured-item text-center">
                                <div class="icon">
                                    <img class="retina about-icons" src="images/creative.png" alt="creative"/>
                                </div>
                                <div class="title text-uppercase">
                                    <h4>Creative</h4>
                                </div>
                                <div class="desc">
                                    Designer + Developer + Creative = perfect match. No matter what’s your project about, it’s going to need some creative work in it. Here we don’t offer just the design or just the code, we offer creative solutions. You don’t have to worry, your website, illustration or bookcover it will be totally customized to your needs.
                                </div>
                            </div>
                        </div>
                        <!--feature -->
                    </div>
                </div>
            </div>
</template>

