<template name="about">
    <section class="section-about js-section-about" id="about">
        <div class="container">
            <div class="row">
                <h2>Sobre mim</h2>
            </div>
            <div class="row row-space js-wp-1">
                <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6 col-foto" >
                    <img src="/images/about/perfil.png" alt="Giselle" class="about-perfil">
                </div>
                <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6 col-about">
                    <p class="long-copy">De animações da Pixar a filmes de Woody Allen e Bergman, sempre fui uma apaixonada por cinema e por tudo o que há por trás dele. Entrei no curso de cinema da FAAP com o sonho de ser uma cineasta. Hoje esse sonho se tornou real.
                        <br> Dirigi diversos curtas dos quais me orgulho, além de trabalhar nas outras diversas áreas que envolvem um set de filmagem, como direção de arte, roteiro e edição. Tive a oportunidade de fazer um curso de direção na NYFA, que me abriu os olhos para novas possibilidades e diversidade dentro do cinema.
                        <br> Apesar de direção ser minha grande paixão, me encantei pelo mundo da pós produção e web design, área em que eu trabalho hoje.
                        <br> Continuo sempre tentando evoluir a cada trabalho e com aquele velho sonho me motivando.</p>
                </div>
            </div>
        </div>
    </section>
</template>
