<template name="header">
	<header id="home">
		<nav class="navbar navbar-default">
		<div>
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#my-navbar" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
    </div>
    		<div class="navbar-header navbar-brand navbar-left">
					<a href="#home"><img src="/images/top-bar/logo.png" alt="logo" class="logo"></a>
					<a href="#home"><img src="/images/top-bar/logo-black.png" alt="logo" class="logo-black"></a>
				</div>
			<div class="container-fluid navbar-container collapse navbar-collapse" id="my-navbar">
				<div>
					<ul class="nav navbar-nav navbar-right navbar-list">
						<li><a href="#about">Sobre</a></li>
						<li><a href="#conhecimentos">Conhecimentos</a></li>
						<li><a href="#portfolio">Curtas</a></li>
						<li><a href="#encomendas">Encomendas</a></li>
						<li><a href="#form">Contato</a></li>
					</ul>
				</div>
			</div>
		</nav>
		<div class="hero-text-box">
			<h1>I dream for a living.<br> Make movies to dream.</h1>
			<button class="btn btn-default js-scroll-full">Faça uma encomenda</button>
			<button class="btn btn-primary js-scroll-ghost">Conheça meu trabalho</button>
		</div>
	</header>
</template>