<template name="hero">
  <section class="slider-revolution-wrapper">
    <div class="tp-banner-container">
      <div class="tp-banner">
        <ul>
          <!-- slide 1 start -->
          <li class="" data-transition="fade" data-slotamount="7" data-masterspeed="500" data-saveperformance="on" data-title="Truly Massive">
            <img src="images/hero-1.png" alt="" data-bgposition="center top" data-bgfit="cover" data-bgrepeat="no-repeat">
            <!-- LAYER NR. 1 -->
            <div class="tp-caption rev-heading rev-white lft start" data-x="center" data-y="150" data-speed="500" data-start="1900" data-easing="Back.easeOut" data-splitin="" data-splitout="" data-elementdelay="0.1" data-endelementdelay="0.1">We Imagine 4 you</div>
            <!-- LAYER NR. 2 -->
            <div class="tp-caption rev-subheading rev-white fb" data-x="center" data-y="250" data-speed="300" data-start="2500" data-easing="Back.easeOut" data-splitin="" data-splitout="" data-elementdelay="0.1" data-endelementdelay="0.1">Websites with great code and design</div>
            <!-- LAYER NR. 3 -->
            <div class="tp-caption rev-subheading sfl" data-x="290" data-y="330" data-speed="500" data-start="3000" data-easing="Back.easeOut" data-splitin="" data-splitout="" data-elementdelay="0.1" data-endelementdelay="0.1">
              <a href="#" class="btn btn-medium btn-dark-border"><i class="fa fa-paper-plane-o"></i>Lern more about us</a>
            </div>
            <!-- LAYER NR. 4 -->
            <div class="tp-caption rev-subheading sfr" data-x="490" data-y="330" data-speed="500" data-start="3000" data-easing="Back.easeOut" data-splitin="" data-splitout="" data-elementdelay="0.1" data-endelementdelay="0.1">
              <a href="#" class="btn btn-medium btn-dark-solid"><i class="fa fa-shopping-cart"></i>Check out our services</a>
            </div>
          </li>
          <!-- slide 1 end -->
          <!-- slide 2 start -->
          <li class="" data-transition="fade" data-slotamount="7" data-masterspeed="500" data-saveperformance="on" data-title="Amazingly Massive">
            <img src="images/hero-2.png" alt="" data-bgposition="center top" data-bgfit="cover" data-bgrepeat="no-repeat">
            <!-- LAYER NR. 1 -->
            <div class="tp-caption rev-subheading rev-white lft start" data-x="center" data-y="150" data-speed="500" data-start="1900" data-easing="Back.easeOut" data-splitin="" data-splitout="" data-elementdelay="0.1" data-endelementdelay="0.1">We love to design the passion</div>
            <!-- LAYER NR. 2 -->
            <div class="tp-caption customin customout rev-heading rev-white" data-x="center" data-y="200" data-speed="500" data-start="2500" data-easing="Back.easeOut" data-customin="x:0;y:0;z:0;rotationX:90;rotationY:0;rotationZ:0;scaleX:1;scaleY:1;skewX:0;skewY:0;opacity:0;transformPerspective:200;transformOrigin:50% 0%;" data-customout="x:0;y:0;z:0;rotationX:0;rotationY:0;rotationZ:0;scaleX:0.75;scaleY:0.75;skewX:0;skewY:0;opacity:0;transformPerspective:600;transformOrigin:50% 50%;" data-splitin="" data-splitout="" data-elementdelay="0.1" data-endelementdelay="0.1">Order your website now!</div>
            <!-- LAYER NR. 3 -->
            <div class="tp-caption rev-subheading sfl" data-x="290" data-y="330" data-speed="500" data-start="3000" data-easing="Back.easeOut" data-splitin="" data-splitout="" data-elementdelay="0.1" data-endelementdelay="0.1">
              <a href="#" class="btn btn-medium btn-theme-border-color"><i class="fa fa-paper-plane-o"></i>Lern more about us</a>
            </div>
            <!-- LAYER NR. 4 -->
            <div class="tp-caption rev-subheading sfr" data-x="490" data-y="330" data-speed="500" data-start="3000" data-easing="Back.easeOut" data-splitin="" data-splitout="" data-elementdelay="0.1" data-endelementdelay="0.1">
              <a href="#" class="btn btn-medium  btn-theme-color"><i class="fa fa-shopping-cart"></i>Check out our services</a>
            </div>
          </li>
          <!-- slide 2 end -->
          <!-- slide 3 start -->
          <li class="" data-transition="fade" data-slotamount="7" data-masterspeed="500" data-saveperformance="on" data-title="Well Packaged">
            <img src="images/hero-4.png" alt="" data-bgposition="center top" data-bgfit="cover" data-bgrepeat="no-repeat">
            <!-- LAYER NR. 1 -->
            <div class="tp-caption customin customout rev-heading" data-x="100" data-y="150" data-speed="500" data-start="1900" data-easing="Back.easeOut" data-customin="x:0;y:0;z:0;rotationX:90;rotationY:0;rotationZ:0;scaleX:1;scaleY:1;skewX:0;skewY:0;opacity:0;transformPerspective:200;transformOrigin:50% 0%;" data-customout="x:0;y:0;z:0;rotationX:0;rotationY:0;rotationZ:0;scaleX:0.75;scaleY:0.75;skewX:0;skewY:0;opacity:0;transformPerspective:600;transformOrigin:50% 50%;" data-splitin="" data-splitout="" data-elementdelay="0.1" data-endelementdelay="0.1">Full Responsive</div>
            <!-- LAYER NR. 1 -->
            <div class="tp-caption rev-desc fade" data-x="100" data-y="250" data-speed="500" data-start="2700" data-easing="Back.easeOut" data-splitin="" data-splitout="" data-elementdelay="0.1" data-endelementdelay="0.1">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nihil quisquam dolores vero,
              <br> laboriosam. Modi quidem optio ea, tenetur a atque eligendi saepe ipsum,
              <br> ratione laboriosam culpa, vitae, excepturi temporibus eum.</div>
            <!-- LAYER NR. 3 -->
            <div class="tp-caption rev-subheading sfr" data-x="100" data-y="380" data-speed="500" data-start="3200" data-easing="Back.easeOut" data-splitin="" data-splitout="" data-elementdelay="0.1" data-endelementdelay="0.1">
              <a href="#" class="btn btn-medium btn-theme-color"><i class="fa fa-shopping-cart"></i> Purchase now</a>
            </div>
          </li>
          <!-- slide 3 end -->
        </ul>
        <div class="tp-bannertimer"></div>
      </div>
    </div>
  </section>
  <!--slider revolution end-->
</template>
