

<template name="services">
<section class="section-services js-section-services body-content page-content" id="services">
		<div class="container container-services">
			<div class="heading-title-alt text-center">
            <h2 class="text-uppercase light-txt">Recent Work</h2>
        	</div>
			<div class="services-retangle" style="background-color: #5cc3b0;">
				<div class="row">
					<div class="col-lg-6 col-md-6 col-sm-6 wow fadeInLeft" data-wow-duration="1s" data-wow-delay="0.2s">
						<img src="/images/webdesign.png" alt="" class="retina">
					</div>	
					<div class="col-lg-6 col-md-6 col-sm-6 wow fadeInRight" data-wow-duration="1s" data-wow-delay="0.2s">
						<h3>Web Design</h3>
						<p>You already have a website but want to give it a makeover? Already have a programmer but needs a designer? Want a website with modern design, responsiveness and all ready to use? For all these questions the answer is: we do it! We have several options for different needs. What you need to know: we create responsive design that is adapted to all screens: mobile, tablet, desktop; we concern about the user experience (UX) for your customer to receive the information the best way; we use HTML5, CSS3, SASS and Javascript to make your website beautiful and functional.</p>
					</div>	
				</div>
			</div>
			<div class="services-retangle" style="background-color: #ec685b;">
				<div class="row">
					<div class="col-lg-6 col-md-6 col-sm-6 wow fadeInLeft" data-wow-duration="1s" data-wow-delay="0.2s">
						<h3>Web Development</h3>
						<p>Do you know that very well built and modern competitor's website? Yours can be even better! We develop front-end websites, landing pages, one-pages and multiple-pages which best suits your need. All code is written in a clean manner and using the most modern technologies. You don´t need to worry about slow performance or users with difficulties by using or finding your website. Everything is built thinking on the user experience (UX), making all tools intuitive and easy to use.</p>
					</div>	
					<div class="col-lg-6 col-md-6 col-sm-6 wow fadeInRight" data-wow-duration="1s" data-wow-delay="0.2s">
						<img src="/images/webdevelopment.png" alt="" class="retina">
					</div>	
				</div>
			</div>
			<div class="services-retangle services-margin" style="background-color: #e9ebef;">
				<div class="row">
					<div class="col-lg-6 col-md-6 col-sm-6 wow fadeInLeft" data-wow-duration="1s" data-wow-delay="0.2s">
						<img src="/images/branding.png" alt="" class="retina">
					</div>	
					<div class="col-lg-6 col-md-6 col-sm-6 wow fadeInRight" data-wow-duration="1s" data-wow-delay="0.2s">
						<h3>Branding</h3>
						<p>Every business, restaurant, office, small or large business, and even a personal website needs a brand to stand out in the market. We offer a complete creation of all that you need to boost your business: a visual identity that defines your goals. We create logos, brand style guides, business cards, envelopes, letter paper ... All that you need!</p>
					</div>	
				</div>
			</div>
			<div class="services-retangle services-margin" style="background-color: #5cc3b0;">
				<div class="row">
					<div class="col-lg-6 col-md-6 col-sm-6 wow fadeInLeft" data-wow-duration="1s" data-wow-delay="0.2s">
						<h3>Illustration</h3>
						<p>Sometimes all that is missing in a big project are illustrations! We create custom graphics, icons and characters to represent your brand. We use care, a tablet, Illustrator and a dose of art. You deserve a website/application/ magazine that its custom and full of life, without those banal icons that everyone uses, or that cliché image. Invest in something that it’s done specially for you...</p>
					</div>	
					<div class="col-lg-6 col-md-6 col-sm-6 wow fadeInRight" data-wow-duration="1s" data-wow-delay="0.2s">
						<img src="/images/illustration.png" alt="" class="retina">
					</div>	
				</div>
			</div>
			<div class="services-retangle services-margin" style="background-color: #ec685b;">
				<div class="row">
					<div class="col-lg-6 col-md-6 col-sm-6 wow fadeInLeft" data-wow-duration="1s" data-wow-delay="0.2s">
						<img src="/images//graphicdesign.png" alt="" class="retina">
					</div>	
					<div class="col-lg-6 col-md-6 col-sm-6 wow fadeInRight" data-wow-duration="1s" data-wow-delay="0.2s">
						<h3>Graphic Design</h3>
						<p>Book cover, packaging, banner, poster, visual identity: everything is developed aiming an incredible final result, which will draw attention of buyers. Have you ever heard the saying, 'Never buy a book by its cover?', we believe in the opposite. A cover should convey the essence and atmosphere of the book, so if the customer was attracted by its cover, certainly will like the book content.</p>
					</div>	
				</div>
			</div>
			<div class="services-retangle services-margin" style="background-color: #e9ebef;">
				<div class="row">
					<div class="col-lg-6 col-md-6 col-sm-6 wow fadeInLeft" data-wow-duration="1s" data-wow-delay="0.2s">
						<h3>Animation</h3>
						<p>Life is better in motion! Studies show: sites with animations attract more users. And look how lucky you are, we also do it! 2D Animations, motion graphics and explainers. For that, ee use the holy trinity: Edge Animate (web), Premiere and After Effects.</p>
					</div>	
					<div class="col-lg-6 col-md-6 col-sm-6 wow fadeInRight" data-wow-duration="1s" data-wow-delay="0.2s">
						<img src="/images/animation.png" alt="" class="retina">
					</div>	
				</div>
			</div>
			<div class="services-retangle services-margin" style="background-color: #5cc3b0;">
				<div class="row">
					<div class="col-lg-6 col-md-6 col-sm-6 wow fadeInLeft" data-wow-duration="1s" data-wow-delay="0.2s">
						<img src="/images/socialmedia.png" alt="" class="retina">
					</div>	
					<div class="col-lg-6 col-md-6 col-sm-6 wow fadeInRight" data-wow-duration="1s" data-wow-delay="0.2s">
						<h3>Social Media</h3>
						<p>Have you ever seen any company nowadays that is not in social media? So what are you waiting for? We offer all design service to create a facebook or instagram that screams to the world: 'Come and see my work, we are awesome.' Banners, ads, iconographic and everything you need to advertise your company, always with a beautiful design.</p>
					</div>	
				</div>
			</div>
		</div>
	</section>
</template>