<template name="process">
  <div class="parallax-inner full-width float-left process-area" style="background-image: url('images/process-bg.png')">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <div class="heading-title-alt text-center">
            <h2 class="text-uppercase light-txt">How we work</h2>
          </div>
          <div id="testimonial-3" class="text-center light-txt big-icon ">
            <div class="item">
              <div class="featured-item text-center">
                <div class="icon">
                  <img class="retina process-icons" src="images/plan.png" alt="plan" />
                </div>
                <h2 class="text-uppercase light-txt">Plan</h2>
                <p class="heading-sub-title light-txt half-txt text-process">
                  This first step will establish our communication with you. We outline the budgets, tactics, ideas and technology that will be used in the project, all based on your objectives. All this is put into paper and we start the hard work
                </p>
              </div>
            </div>
            <div class="item">
              <div class="featured-item text-center">
                <div class="icon">
                  <img class="retina process-icons" src="images/design.png" alt="design" />
                </div>
                <h2 class="text-uppercase light-txt">Design</h2>
                <p class="heading-sub-title light-txt half-txt text-process">
                  At this point we already know what your goals are and what your company style is. So, we create a custom and well planned design, considering the user experience (UX), user interface (UI) and bringing you the best of modern and responsive design.
                </p>
              </div>
            </div>
            <div class="item">
              <div class="featured-item text-center">
                <div class="icon">
                  <img class="retina process-icons" src="images/build.png" alt="build" />
                </div>
                <h2 class="text-uppercase light-txt">Build</h2>
                <p class="heading-sub-title light-txt half-txt text-process">
                  Here is where the design is translated to line of codes. We use the leading technologies to make your website functional, fast and well-built, providing the user the best experience.
                </p>
              </div>
            </div>
            <div class="item">
              <div class="featured-item text-center">
                <div class="icon">
                  <img class="retina process-icons" src="images/launch.png" alt="launch" />
                </div>
                <h2 class="text-uppercase light-txt">Launch</h2>
                <p class="heading-sub-title light-txt half-txt text-process">
                  Your website is ready to use! After tests, corrections and your approval, we put your page online. We offer a service of maintenance and monitored, so you your website it will be always updated and you don’t have to worry about that boring part.
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>
