<template name="progressSection">
  <div class="page-content parallax-inner parallax-12">
    <div class="container">
      <div class="row">
        <div class="col-md-7">
          <p class="theme-color txt-xl">Lid est laborum dolo rumes fugats untras. Etharums ser quidem rerum facilis dolores nemis etharumas thir labori omnis minima.</p>
          <p class="light-txt">Lid est laborum dolo rumes fugats untras. Etharums ser quidem rerum facilis dolores nemis omnis fugats vitaes nemo minima rerums unsers sadips amets. </p>
          <div>
            <a data-scroll href="#promoBox" class="btn btn-medium btn-light-border btn-transparent"> Purchase Now</a>
          </div>
        </div>
        <div class="col-md-5">
          {{> animatedPB label="A" valor=10}}
          {{> animatedPB label="B" valor=20}}
          {{> animatedPB label="C" valor=30}}
          {{> animatedPB label="D" valor=40}}
          {{> animatedPB label="E" valor=50}}
          <!-- progress bar end -->
        </div>
      </div>
    </div>
  </div>
</template>
