<template name="blogPost">
  <div class="page-content">
    <div class="container">
      <div class="row">
        <div class="heading-title text-center">
          <h3 class="text-uppercase">Latest Blog Post</h3>
        </div>
        <!--post style 2 start-->
        <div class="post-list">
          <div class="col-md-4">
            <div class="post-single">
              <ul class="post-cat">
                <li><a href="#">interface</a></li>
                <li><a href="#">standard</a></li>
              </ul>
              <div class="post-img">
                <img src="/img/post/p4.jpg" alt="">
              </div>
              <div class="post-desk">
                <h4 class="text-uppercase">
                                            <a href="#">ultra modern design</a>
                                        </h4>
                <div class="date">
                  <a href="#" class="author">martin smith</a> july 29, 2015
                </div>
                <p>
                  Nam libero tempore, cum soluta nobis est eligendi optio cumque nihil impedit quo minus id quod maxime placeat facere possimus.
                </p>
                <a href="#" class="p-read-more">Read More <i class="icon-arrows_slim_right"></i></a>
              </div>
            </div>
          </div>
          <div class="col-md-4">
            <div class="post-single">
              <ul class="post-cat">
                <li><a href="#">interface</a></li>
                <li><a href="#">standard</a></li>
              </ul>
              <div class="post-img ">
                <img src="/img/post/p5.jpg" alt="">
              </div>
              <div class="post-desk">
                <h4 class="text-uppercase">
                                            <a href="#">fully responsive</a>
                                        </h4>
                <div class="date">
                  <a href="#" class="author">martin smith</a> july 29, 2015
                </div>
                <p>
                  Nam libero tempore, cum soluta nobis est eligendi optio cumque nihil impedit quo minus id quod maxime placeat facere possimus.
                </p>
                <a href="#" class="p-read-more">Read More <i class="icon-arrows_slim_right"></i></a>
              </div>
            </div>
          </div>
          <div class="col-md-4">
            <div class="post-single">
              <ul class="post-cat">
                <li><a href="#">interface</a></li>
                <li><a href="#">standard</a></li>
              </ul>
              <div class="post-img">
                <img src="/img/post/p6.jpg" alt="">
              </div>
              <div class="post-desk">
                <h4 class="text-uppercase">
                                            <a href="#">light weight theme</a>
                                        </h4>
                <div class="date">
                  <a href="#" class="author">martin smith</a> july 29, 2015
                </div>
                <p>
                  Nam libero tempore, cum soluta nobis est eligendi optio cumque nihil impedit quo minus id quod maxime placeat facere possimus.
                </p>
                <a href="#" class="p-read-more">Read More <i class="icon-arrows_slim_right"></i></a>
              </div>
            </div>
          </div>
        </div>
        <!--post style 2 end-->
      </div>
    </div>
  </div>
  <!--blog post-->
</template>
