<template name="bricks">
    <section class="section-bricks " id="bricks">
        <div class="container">
            <div class="row row-space">
                <div class="col-lg-4 col-md-4 col-sm-4 icons-center">
                    <img src="/images/about/icon-curtas.png" alt="Food">
                    <p class="">+ de 20 curtas<br> realizados</p>
                </div>
                <div class="col-lg-4 col-md-4 col-sm-4 icons-center">
                    <img src="/images/about/icon-cinema.png" alt="Food">
                    <p>Formada em cinema<br> pela FAAP</p>
                </div>
                <div class="col-lg-4 col-md-4 col-sm-4 icons-center">
                    <img src="/images/about/icon-finalização.png" alt="Food">
                    <p>Auxiliar de Finalização<br> na TVC</p>
                </div>
            </div>
        </div>
    </section>
</template>
